<script>
    import { onMount } from 'svelte';
    //import { route } from 'svelte-spa-router';

    export let params = {};
    console.log(params.boardCode);
    console.log("boardCode");
    let board = {};
    let threads = [];
  
    onMount(async () => {
        await fetch('http://delforno.bearzi.info/bchan/api/getBoardByName.php?boardCode='+params.boardCode)
            .then((response) => response.json())
            .then((data) => {board = data});
        await fetch('http://delforno.bearzi.info/bchan/api/threads.php?boardId=' + board.board_id + '&numThreads=10')
            .then((response) => response.json())
            .then((data) => {threads = data});
    });

	function onSubmit(e){
		const formData = new FormData(e.target);

		const data = {};
		for (let field of formData) {
			const [key, value] = field;
			data[key] = value;
		}
		console.log(data)		
	}
</script>

<h1>{board.board_name}</h1>
<h2>/{params.boardCode}/</h2>

<h3>start a thread</h3>
<form on:submit|preventDefault={onSubmit}>
	<input type="text" name="threadTitle" placeholder="Thread Title"/>
	<input type="text" name="threadText" placeholder="Some Text"/>
	<input type="image" name="threadImage" alt="thread image"/>
	<input type="submit" value="submit"/>
</form>
<ul>
    {#each threads as thread}
      <li>
        <a href={`/boards/${thread.board_name}/thread/${thread.thread_id}`}>
          {thread.thread_title}
        </a>
      </li>
    {/each}
  </ul>