<script>
    import { onMount } from 'svelte';
    let boards = [];
  
    onMount(async () => {
        await fetch('http://delforno.bearzi.info/bchan/api/listBoards.php')
            .then((response) => response.json())
            .then((data) => {boards = data});
    });
</script>

{#each boards as board}
    <li>
        <a href={`#/board/${board.board_code}`}>
            /{board.board_code}/ - {board.board_name}
        </a>
    </li>
{/each}