<script>
    import Router from "svelte-spa-router";
    import Home from "./routes/Home.svelte";
    import Board from "./routes/Board.svelte";
    import Thread from "./routes/Thread.svelte";
    let routes = { 
        "/": Home,
        "/board/:boardCode": Board,
        "/board/:boardCode/thread/:threadId": Thread
    }
</script>

<main>
    <Router {routes}/>

</main>